<h1>Home Page</h1>

<%= simple_format(@content.home) %>
<%= link_to "Edit", edit_contents_path %>

<h1>About Us Page</h1>

<%= simple_format(@content.about_us) %>
<%= link_to "Edit", edit_contents_path %>

<h1>Support Page</h1>

<%= simple_format(@content.support) %>
<%= link_to "Edit", edit_contents_path %>

<h1>Contact Us Page</h1>

<%= simple_format(@content.contact_us) %>
<%= link_to "Edit", edit_contents_path %>

<h1>Career Page</h1>

<%= simple_format(@content.career) %>
<%= link_to "Edit", edit_contents_path %>

<h1>Latest Offer/Home Page</h1>

<%= simple_format(@content.latest_offer) %>
<%= link_to "Edit", edit_contents_path %>

