<table width="100%" cellspacing="0" cellpadding="0" border="0" style="border: 1px solid rgb(211, 211, 211); background-color: rgb(253, 253, 253);">
  <tbody>
    <tr>
      <td valign="top" align="left" style="padding: 8px;">
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <td valign="top" height="30" align="left" class="black16tahoma">
                <span style="color: rgb(242, 69, 1);">Products</span>
              </td>
            </tr>

            <tr>
              <td valign="top" height="30" align="left">
                <p>
                  <%= image_tag @item.product.avatar.url, :width => "116", :height => "86" %>
                </p>
                <p>
                  <strong>Title:</strong>
                  <%=h @item.title %>
                </p>
                <p>
                  <strong>Product:</strong>
                  <%=h (@item.product ? @item.product.title : "---") %>
                </p>
                <p>
                  <strong>Company:</strong>
                  <%=h (@item.company ? @item.company.title : "---") %>
                </p>
                <p>
                  <strong>Price:</strong>
                  <%=h (@item.price ? @item.price : "---") %>
                </p>
                <p>
                  <strong>Tag:</strong>
                  <%=h (@item.tag ? @item.tag : "---") %>
                </p>
                <p>
                  <strong>Description:</strong>
                  <%=h @item.description %>
                </p>
              </td>
            </tr>
            <tr>
             <td height="20" align="right" valign="bottom">
                <%= link_to "back", root_path, :class => "link_more" %>
              </td>
            </tr>

          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
