<% form_for @item do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :product_id, "Product" %><br />
    <%= f.select("product_id", @products.collect {|c| [ c.title, c.id ] }, { :prompt => 'Select product...' }) %>
  </p>
  <p>
    <%= f.label :company_id, "Company" %><br />
    <%= f.select("company_id", @companies.collect {|c| [ c.title, c.id ] }, { :prompt => 'Select company...' }) %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>


