<% title "Item" %>

<p>
  <strong>Title:</strong>
  <%=h @item.title %>
</p>
<p>
  <strong>Product:</strong>
  <%=h (@item.product ? @item.product.title : "---") %>
</p>
<p>
  <strong>Company:</strong>
  <%=h (@item.company ? @item.company.title : "---") %>
</p>
<p>
  <strong>Price:</strong>
  <%=h (@item.price ? @item.price : "---") %>
</p>
<p>
  <strong>Tag:</strong>
  <%=h (@item.tag ? @item.tag : "---") %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @item.description %>
</p>

<p>
  <%= link_to "Edit", edit_item_path(@item) %> |
  <%= link_to "Destroy", @item, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", items_path %>
</p>
