<h1>Choose Actions</h1>

<p><%= link_to "Manage Users", users_path %></p>
<p><%= link_to "Manage Site Contents", contents_path %></p>
<p><%= link_to "Manage Companies", companies_path %></p>
<p><%= link_to "Manage Products", products_path %></p>
<p><%= link_to "Manage Items", items_path %></p>

